<polymer-element name="media-view">
  <template>
    <link rel="stylesheet" href="../../../../resources/css/app.css">

    <style>
      .thumbnail {
        margin-bottom: 0.3em;
      }

      .media-title {
        margin: 0.15em 0 0 0.4em;
      }
   </style>

    <div class="thumbnail flexbox-row-nowrap">
      <div class="flex1 flexbox-row-nowrap">
        <template if="{{media.type == 'video'}}">
          <span class="glyphicon glyphicon-film"></span>
        </template>

        <h5 class="media-title">{{media.title}} ({{media.runtime}})</h5>
      </div>

      <div>
        <template if="{{playlistMode}}">
          <button type="button" class="btn btn-default btn-xs" on-click="{{moveUpClicked}}"><span class="glyphicon glyphicon-arrow-up"></span></button>
        </template>

        <template if="{{playlistMode}}">
          <button type="button" class="btn btn-default btn-xs" on-click="{{moveDownClicked}}"><span class="glyphicon glyphicon-arrow-down"></span></button>
        </template>

        <template if="{{playlistMode}}">
          <button type="button" class="btn btn-default btn-xs" on-click="{{removeClicked}}"><span class="glyphicon glyphicon-remove"></span></button>
        </template>

        <template if="{{!playlistMode}}">
          <button type="button" class="btn btn-default btn-xs" on-click="{{addClicked}}"><span class="glyphicon glyphicon-plus"></span></button>
        </template>

        <button type="button" class="btn btn-default btn-xs" on-click="{{playClicked}}"><span class="glyphicon glyphicon-play"></span></button>
      </div>
    </div>
  </template>

  <script type="application/dart;component=1" src="media_view.dart"></script>
</polymer-element>