<polymer-element name="connection-view">
  <template>
    <style>
      .connection-indicator {
        width: 24px;
        height: 24px;
      }

      .connect-button-icon {
        width: 15px;
        height: 15px;
      }

      img {
        pointer-events: none;
      }
    </style>

    <div>
      <input type="text" value="{{clientID}}" placeholder="Client ID">
      <button class="btn btn-default" on-click="{{connect}}" disabled?="{{ccm.connected || ccm.connecting}}"><img src="resources/images/connect.png" class="connect-button-icon"></button>
      <!--<button class="btn btn-default" on-click="{{disconnect}}" disabled?="{{!ccm.connected || ccm.connecting}}">Disconnect</button>-->

      <template if="{{ccm.connected}}"><img src="resources/images/connected.png" class="connection-indicator"></template>
      <template if="{{ccm.connecting}}"><img src="resources/images/connecting.png" class="connection-indicator"></template>
      <template if="{{!ccm.connected && !ccm.connecting}}"><img src="resources/images/disconnected.png" class="connection-indicator"></template>
    </div>
  </template>

  <script type="application/dart" src="connection_view.dart"></script>
</polymer-element>