<polymer-element name="connection-indicator-view">
  <template>
    <style>
      .connection-indicator {
        width: 24px;
        height: 24px;
      }
    </style>

    <template if="{{connected}}"><img src="resources/images/connected.png" class="connection-indicator"></template>
    <template if="{{connecting}}"><img src="resources/images/connecting.png" class="connection-indicator"></template>
    <template if="{{!connected && !connecting}}"><img src="resources/images/disconnected.png" class="connection-indicator"></template>
  </template>

  <script type="application/dart">
    import 'dart:html';
    import 'package:polymer/polymer.dart';

    @CustomTag('connection-indicator-view')
    class ConnectionIndicatorView extends PolymerElement {

      @published bool connected;
      @published bool connecting;

      ConnectionIndicatorView.created() : super.created();

      @override void enteredView() {
        super.enteredView();
        print("ConnectionIndicatorView::enteredView()");
      }

      // this lets the global CSS bleed through into the Shadow DOM of this element
      bool get applyAuthorStyles => true;
    }
  </script>
</polymer-element>