<link rel="import" href="css_spinner.html">
<link rel="import" href="../../../shared/components/polymer_localstorage/polymer_localstorage.html">

<polymer-element name="login-view">
  <template>
    <link rel="stylesheet" href="../../../../resources/css/app.css">

    <style>
      .connect-button-icon {
        width: 15px;
        height: 15px;
      }

      img {
        pointer-events: none;
      }

      .connection-indicator {
        width: 16px;
        height: 16px;
      }

      #login-form {
        width: 200px;
      }
    </style>

    <template if="{{!admin}}">
      <form id="login-form" on-submit="{{submit}}">
        <div class="input-group">
          <input id="id-input" class="form-control" type="text" value="{{clientID}}" placeholder="Client ID">
          <span class="input-group-btn" style="margin-right: 0;">
            <button class="btn btn-default" on-click="{{connect}}" disabled?="{{ccm.connecting}}">
              <template if="{{ccm.connected}}"><img src="../../../../resources/images/connected.png" class="connection-indicator"></template>
              <template if="{{ccm.connecting}}"><css-spinner width="16" height="20" /></template>
              <template if="{{!ccm.connected && !ccm.connecting}}"><img src="../../../../resources/images/disconnected.png" class="connection-indicator"></template>
            </button>
          </span>
        </div>
      </form>

      <polymer-localstorage name="clientID" value="{{clientID}}" />
    </template>

    <template if="{{admin}}">
      <button class="btn btn-default" on-click="{{connect}}" disabled?="{{ccm.connecting}}">
        <template if="{{ccm.connected}}"><img src="../../../../resources/images/connected.png" class="connection-indicator"></template>
        <template if="{{ccm.connecting}}"><css-spinner width="16" height="20" /></template>
        <template if="{{!ccm.connected && !ccm.connecting}}"><img src="../../../../resources/images/disconnected.png" class="connection-indicator"></template>
      </button>
    </template>
  </template>

  <script type="application/dart" src="login_view.dart"></script>
</polymer-element>