<polymer-element name="main-view">
  <link rel="import" href="../../../shared/views/connection_view/connection_view.html">

  <template>
    <style>
      header {
        height: 50px;
        background-color: black;
      }

      #app-title {
        color: white;
      }

      main {

      }

      #video-player {
        position: absolute;
        left: 0; top: 0; right: 0; bottom: 0;
        border: 1px solid black;
      }
    </style>

    <header class="flexbox flex-justify-space-between flex-align-center">
      <h3 id="app-title">MedCast Client</h3>
      <!--<connection-view></connection-view>-->
    </header>

    <main class="flex1>
      <video id="video-player"" preload="auto" controls>
        <source src="resources/videos/acne1.webm" type='video/webm; codecs="vp8, vorbis"' />
      </video>
    </main>
  </template>

  <script type="application/dart" src="main_view.dart"></script>
</polymer-element>