<polymer-element name="main-view">
  <link rel="import" href="../../../shared/views/login_view/login_view.html">
  <link rel="import" href="packages/polymer_elements/polymer_collapse/polymer_collapse.html">

  <template>
    <style>
      @import "resources/css/app.css";
    </style>

    <header id="header" class="flexbox-row-nowrap flex-justify-space-between flex-align-items-center">
      <h3 id="app-title">Client</h3>
      <login-view ccm="{{ccm}}"></login-view>
    </header>

    <polymer-collapse id="header-collapse" fixedSize target="{{ $['header'] }}"></polymer-collapse>

    <main class="flex1">
      <video id="video-player" width="100%" height="100%" on-click="{{videoClicked}}" on-ended="{{playNextVideo}}">
        <!--source src="resources/videos/bunny.webm" type='video/webm; codecs="vp8, vorbis"' /-->
      </video>
    </main>
  </template>

  <script type="application/dart" src="main_view.dart"></script>
</polymer-element>